In [ ]:
import pandas as pd
data_1=pd.read_csv("https://raw.githubusercontent.com/Jacob68/task-5/main/takehome_users.csv",encoding='unicode_escape')
data_1

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Tha√≠s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [ ]:
data_1["invited_by_user_id"].value_counts().sum()

6417

In [ ]:
data_1.rename(columns={"object_id":"user_id"},inplace=True)
data_1

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0
...,...,...,...,...,...,...,...,...,...,...
11995,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0
11996,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN
11997,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0
11998,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN
11999,12000,2014-01-26 08:57:12,Lima Tha√≠s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN

In [ ]:
data_2=pd.read_csv("https://raw.githubusercontent.com/Jacob68/task-5/main/takehome_user_engagement.csv")
data_2

                 time_stamp  user_id  visited
0       2014-04-22 03:53:30        1        1
1       2013-11-15 03:45:04        2        1
2       2013-11-29 03:45:04        2        1
3       2013-12-09 03:45:04        2        1
4       2013-12-25 03:45:04        2        1
...                     ...      ...      ...
207912  2013-09-06 06:14:15    11996        1
207913  2013-01-15 18:28:37    11997        1
207914  2014-04-27 12:45:16    11998        1
207915  2012-06-02 11:55:59    11999        1
207916  2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

In [ ]:
data_2.isna().sum()

time_stamp    0
user_id       0
visited       0
dtype: int64

In [ ]:
data_2["time_stamp"]=pd.to_datetime(data_2["time_stamp"])
data_2

                time_stamp  user_id  visited
0      2014-04-22 03:53:30        1        1
1      2013-11-15 03:45:04        2        1
2      2013-11-29 03:45:04        2        1
3      2013-12-09 03:45:04        2        1
4      2013-12-25 03:45:04        2        1
...                    ...      ...      ...
207912 2013-09-06 06:14:15    11996        1
207913 2013-01-15 18:28:37    11997        1
207914 2014-04-27 12:45:16    11998        1
207915 2012-06-02 11:55:59    11999        1
207916 2014-01-26 08:57:12    12000        1

[207917 rows x 3 columns]

Merging the two different datas

In [ ]:
final_data=pd.merge(data_1, data_2, on='user_id')
final_data

,user_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,time_stamp,visited
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,2014-04-22 03:53:30,1
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-15 03:45:04,1
2,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-11-29 03:45:04,1
3,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-09 03:45:04,1
4,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,2013-12-25 03:45:04,1
...,...,...,...,...,...,...,...,...,...,...,...,...
207912,11996,2013-09-06 06:14:15,Meier Sophia,SophiaMeier@gustr.com,ORG_INVITE,1.378448e+09,0,0,89,8263.0,2013-09-06 06:14:15,1
207913,11997,2013-01-10 18:28:37,Fisher Amelie,AmelieFisher@gmail.com,SIGNUP_GOOGLE_AUTH,1.358275e+09,0,0,200,NaN,2013-01-15 18:28:37,1
207914,11998,2014-04-27 12:45:16,Haynes Jake,JakeHaynes@cuvox.de,GUEST_INVITE,1.398603e+09,1,1,83,8074.0,2014-04-27 12:45:16,1
207915,11999,2012-05-31 11:55:59,Faber Annett,mhaerzxp@iuxiw.com,PERSONAL_PROJECTS,1.338638e+09,0,0,6,NaN,2012-06-02 11:55:59,1
207916,12000,2014-01-26 08:57:12,Lima Tha√≠s,ThaisMeloLima@hotmail.com,SIGNUP,1.390727e+09,0,1,0,NaN,2014-01-26 08:57:12,1

In [ ]:
final_data.isna().sum()

user_id                           0
creation_time                     0
name                              0
email                             0
creation_source                   0
last_session_creation_time        0
opted_in_to_mailing_list          0
enabled_for_marketing_drip        0
org_id                            0
invited_by_user_id            91030
time_stamp                        0
visited                           0
dtype: int64

In [ ]:
final_data.dropna(inplace=True)
final_data.isna().sum()

user_id                       0
creation_time                 0
name                          0
email                         0
creation_source               0
last_session_creation_time    0
opted_in_to_mailing_list      0
enabled_for_marketing_drip    0
org_id                        0
invited_by_user_id            0
time_stamp                    0
visited                       0
dtype: int64

In [ ]:
final_data.describe()

,user_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,visited
count,116887.000000,1.168870e+05,116887.000000,116887.000000,116887.000000,116887.000000,116887.0
mean,5979.902590,1.399314e+09,0.270526,0.171114,163.203359,5972.167555,1.0
std,3434.148768,8.482243e+06,0.444234,0.376610,120.533937,3247.095621,0.0
min,1.000000,1.338452e+09,0.000000,0.000000,0.000000,3.000000,1.0
25%,3196.500000,1.401000e+09,0.000000,0.000000,62.000000,3269.000000,1.0
50%,5741.000000,1.401641e+09,0.000000,0.000000,139.000000,5972.000000,1.0
75%,9120.000000,1.401860e+09,1.000000,0.000000,263.000000,8513.000000,1.0
max,11998.000000,1.402067e+09,1.000000,1.000000,415.000000,11999.000000,1.0

In [ ]:
final_data.info()
final_data.count()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 116887 entries, 0 to 207914
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   user_id                     116887 non-null  int64
 1   creation_time               116887 non-null  object
 2   name                        116887 non-null  object
 3   email                       116887 non-null  object
 4   creation_source             116887 non-null  object
 5   last_session_creation_time  116887 non-null  float64
 6   opted_in_to_mailing_list    116887 non-null  int64
 7   enabled_for_marketing_drip  116887 non-null  int64
 8   org_id                      116887 non-null  int64
 9   invited_by_user_id          116887 non-null  float64
 10  time_stamp                  116887 non-null  datetime64[ns]
 11  visited                     116887 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(5), object(4)
memory usage: 11.6+ MB

user_id                       116887
creation_time                 116887
name                          116887
email                         116887
creation_source               116887
last_session_creation_time    116887
opted_in_to_mailing_list      116887
enabled_for_marketing_drip    116887
org_id                        116887
invited_by_user_id            116887
time_stamp                    116887
visited                       116887
dtype: int64

NameError: ignored